<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinergia.food4health">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/f4h_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/f4h_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.food4health.presentation.SetRecipe.View.SetRecipeActivity"></activity>
        <activity android:name="com.food4health.presentation.Favourite.View.FavouriteActivity" />
        <activity android:name="com.food4health.presentation.Account.view.AccountActivity" />
        <activity android:name="com.food4health.presentation.Catalog.View.ItemCatalogActivity" />
        <activity android:name="com.food4health.presentation.Catalog.View.CatalogActivity" />
        <activity android:name="com.food4health.presentation.AddRecipe.View.AddRecipeActivity" />
        <activity android:name="com.food4health.presentation.MainMenu.View.MainMenuActivity" />
        <activity android:name="com.food4health.presentation.Login.View.LoginActivity" />
        <activity android:name="com.food4health.presentation.Register.View.RegisterActivity" />
        <activity android:name="com.food4health.presentation.Main.View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>